.container
    h1 Twitter's most popular money words
    div(nvd3-pie-chart=""
        data="words"
        id="twitter-donut"
        x="xFunction()"
        y="yFunction()"
        showLabels="true"
        showValues="true"
        tooltips="true"
        donut="true"
        donutRatio=".3"
        donutLabelsOutside="true")

    div(wordtable=""
        data="words"
        id="word-table")
